{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h2>Routes</h2>
    <ul class="collection">
        <li class="collection-item">/index - Displays the index page with routes information.</li>
        <li class="collection-item">/keywords - Manages keywords in the database to filter jobs.</li>
        <li class="collection-item">/remove - Manages companies in the database to filter jobs.</li>
        <li class="collection-item">/delete_all_jobs - Deletes all jobs from the database.</li>
    </ul>
</div>
{% endblock %}